/* src/App.css */
.app-container {
  display: flex;
  height: 100vh;
  background-color: #333;
  color: white;
}

.left-sidebar {
  width: 250px;
  background-color: #444;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.right-sidebar {
  width: 300px;
  background-color: #444;
  padding: 10px;
}